.starship-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.starship {
  padding: 20px;
  text-align: left;
  width: 400px;
  background-color: lightblue;
  color: white;
}

.StarshipPage a {
  color: white;
}

.line {
  display: flex;
  margin-bottom: 20px;
}